<?xml version="1.0" encoding="utf-8"?>
<root>
		<!--This is the config file. 
All information important for the website will be stored here,
instead of CSV files, as it was before.-->
		<officers>
				<item>
						<name>Sharon Wang</name>
						<email>sharonwang@tamu.edu</email>
						<image>img/officers/profile_default.jpg</image>
						<position>President</position>
				</item>
				<item>
						<name>Jesse Martinez</name>
						<email>jesse1025.13@tamu.edu</email>
						<image>img/officers/profile_default.jpg</image>
						<position>Vice President</position>
				</item>
				<item>
						<name>Kathryn Sommers</name>
						<email>katiesommers@tamu.edu</email>
						<image>img/officers/profile_default.jpg</image>
						<position>Treasurer</position>
				</item>
				<item>
						<name>Matt Gaikema</name>
						<email>matt.gaikema@tamu.edu</email>
						<image>img/officers/me.jpg</image>
						<position>Webmaster</position>
				</item>
				<item>
						<name>Phillip Yasskin</name>
						<email>yasskin@math.tamu.edu</email>
						<image>img/officers/yasskin.jpg</image>
						<position>Faculty Advisor</position>
				</item>
		</officers>
		<homeImages>
				<item>
						<header>AMUSe</header>
						<description>Where mathematics meets application.</description>
						<image>img/home/homer.jpg</image>
						<url>organizations</url>
				</item>
				<item>
						<header>About Math Club</header>
						<description />
						<image>img/home/temp-math.jpg</image>
						<url>about</url>
				</item>
				<item>
						<header>Bi-Weekly Math Contest</header>
						<description>Be the first to solve it for a prize!</description>
						<image>img/home/contest.svg</image>
						<url>contest</url>
				</item>
				<item>
						<header>Aggie Actuaries</header>
						<description />
						<image>img/home/aggie-actuaries.png</image>
						<url>organizations</url>
				</item>
		</homeImages>
		<organizations>
				<item>
						<name>AWM (Association for Women in Mathematics)</name>
						<url>https://stuactonline.tamu.edu/app/organization/profile/public/id/1778</url>
						<description>An organization for women passionate about mathematics.</description>
				</item>
				<item>
						<name>AMUSe (Applied Math Undergrad Seminar</name>
						<url>http://www.math.tamu.edu/seminars/amuse/</url>
						<description>The purpose of this seminar is to introduce undergraduates to applications of mathematics in fields such as finance, engineering, biology, and physics.</description>
				</item>
				<item>
						<name>Aggie Actuaries</name>
						<url>https://maroonlink.tamu.edu/organization/aggieactuaries</url>
						<description>An organization to help Aggie students further their understanding of actuarial science.</description>
				</item>
				<item>
						<name>MAA (Mathematical Association of America)</name>
						<url>http://www.maa.org/</url>
						<description>
								<!--use CDATA to include html tags without having them be interpreted as XML.
http://stackoverflow.com/questions/2784183/what-does-cdata-in-xml-mean--><![CDATA[The Texas A&amp;M student chapter of the 
<a href="http://www.maa.org/">Mathematical Association of America</a>
is open to all students that have an
interest in mathematics. There are no scholastic requirements such as
class standing or grade point average. Students from any major are
welcome to join. The cost of membership is $20 per year for a student
who chooses to receive either The College Mathematics Journal,
Mathematics Magazine, or Math Horizons.<b> Even if you decide not to
become a member, you can still attend the meetings.</b> For students
who choose The American Mathematical Monthly, the cost is $30 per
year. In addition to receiving their choice of journals, students will
receive discounts on meeting registration fees and MAA publications,
information on graduate study and career opportunities, information
about speakers, and opportunities to participate in student paper
sessions at sectional meetings. For more information about the
sectional meetings see
the <a href="http://www.shsu.edu/~mth_jaj/tx_section/">MAA Sectional
Meeting Schedule</a> . Please read 
<a href="constitution_maa.html">the constitution</a> for our chapter of
the MAA. ]]></description>
				</item>
				<item>
						<name>Pi Mu Epsilon</name>
						<url>http://www.pme-math.org/</url>
						<description><![CDATA[<a href="http://www.pme-math.org">Pi Mu Epsilon</a> is an honorary
mathematics organization whose motto is to 
promote scholarship and mathematics. Students are required to meet certain
<a href="pme-req.html">requirements</a> in order to join Pi Mu
Epsilon. There is a $20 lifetime 
membership fee. This includes a one-year membership to the Pi Mu Epsilon
Journal. Like MAA, there is no membership required to attend the meetings.
The constitution for our chapter of Pi Mu Epsilon can be found here. ]]></description>
				</item>
		</organizations>
		<config>
				<!--plz dont steal-->
				<googleCalendar>
						<calendarID>4kl90qkd5vdkrr2pm2f0np8tk0@group.calendar.google.com</calendarID>
						<apiKey>AIzaSyDjp19B5eMwKT9VZwAronknu5RbPGVGhhY</apiKey>
				</googleCalendar>
		</config>
</root>