/* Matt Gaikema */
/* 5/25/16 */

/*http://stackoverflow.com/questions/18410742/remove-space-between-navbar-and-jumbotron-in-bootstrap-3*/
.navbar
{
	margin-bottom: 0;
}

.jumbotron
{
	margin-bottom: 0;
	color: white;
	background-color: #500000;
}

#header-words
{
	padding-left: 15px;
}

/*
#header-icon
{
	margin-right: 20px;
}
*/

#site-subheader
{
	color: #a1a1a1;
}

body
{
	/* Slightly darker background:
	http://www.w3schools.com/colors/colors_picker.asp */
	background-color: #f2f2f2; 
}

#homer
{
	width: 25%;
}

.carouselImg
{
	width: auto;
	height: 512px;
	max-height: 512px;
	margin: 0 auto;
}

.carousel-caption
{
	background-color: rgba(204, 204, 204, 0.5);
}

.officer-pic
{
	width: 128px;
}

.rss-icon
{
	/* http://www.w3schools.com/cssref/css3_pr_filter.asp */
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* https://github.com/TexAgg/TexAgg.github.io/blob/dynamic/styles/style.css#L50 */
footer
{
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}