/* Matt Gaikema */
/* 5/25/16 */

#site-header
{
	background-color: #500000;
	color: white; 
}

body
{
	padding-left: 15px;
}

#homer
{
	width: 25%;
}

.carouselImg
{
	width: auto;
	height: 512px;
	max-height: 512px;
	margin: 0 auto;
}

.officer-pic
{
	width: 128px;
}