/* Matt Gaikema */
/* 5/25/16 */

#site-header
{
	background-color: #500000;
	color: white; 
	/*background-image: url("https://eli.tamu.edu/wp-content/uploads/2014/06/12thman.png");*/
	/*http://codepen.io/renatocarvalho/pen/LEZMyP*/
	/*
	background: linear-gradient(
		rgba(80,0,0,0.85),
		rgba(80,0,0,0.85)
	),
	url("https://eli.tamu.edu/wp-content/uploads/2014/06/12thman.png");
	*/	
}

/*http://stackoverflow.com/questions/18410742/remove-space-between-navbar-and-jumbotron-in-bootstrap-3*/
.navbar
{
	margin-bottom: 0;
}

.jumbotron
{
	margin-bottom: 0;
}

#header-words
{
	padding-left: 15px;
}

#site-subheader
{
	color: #a1a1a1;
}

body
{
	/*padding-left: 15px;*/
	/* Slightly darker background:
	http://www.w3schools.com/colors/colors_picker.asp */
	background-color: #f2f2f2; 
}

#homer
{
	width: 25%;
}

.carouselImg
{
	width: auto;
	height: 512px;
	max-height: 512px;
	margin: 0 auto;
}

.carousel-caption
{
	background-color: rgba(204, 204, 204, 0.5);
}

.officer-pic
{
	width: 128px;
}

/* https://github.com/TexAgg/TexAgg.github.io/blob/dynamic/styles/style.css#L50 */
footer
{
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}